#header-nav {
    background-color: #C3BEBD;
    border-radius: 0;
    border: 0;    
    border: solid black 3px;
    margin-bottom: 0;
}

.navbar-brand {       
    padding-left: 0;  
}

.navbar-brand a:hover, .navbar-brand a:focus {
    text-decoration: none;
  }

.navbar-brand h1 {    
    font-family: 'Arial';
    font-size: 1.5em;
    color: black;   
    margin-top: 0;
    margin-left: 15px;
    margin-bottom: 0;
}
.navbar-header button.navbar-toggle, .navbar-header .icon-bar {
  border: 1px solid red;
}
.navbar-header button.navbar-toggle {
  clear: both;
  margin-top: -30px; 
}

.text-center {
    font-family: 'Arial';
    font-size: 38px;
    font-weight: bold;
    position: relative;
    margin-top: 55px;
}

#text {       
    margin: 10px;
    background-color: #C3BEBD;
    font-family: 'Arial';   
    position: relative;
}

span {
  font-size: 20px;
  width: 100%;
  font-weight: bold;
  text-align: center;
}

#nav-list {
    margin-top: 10px;
}

#nav-list a {
    text-align: center;
    color: black;
    font-family: 'Alfa Slab One';
    font-weight: 100;
    background-color: #AAA5A5;
}

#nav-list a:hover { 
  background: rgb(225, 192, 228);
}

.navbar-default .navbar-collapse {
	margin-top:0px;
	border: 0px;
	list-style-type: none;
}  
#nav-list a span { 
  font-size: 1.2em;
}




